.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.innerContainer {
    border: 1px solid black;
    height: 500px;
    width: 700px;
    position: relative;
    box-sizing: border-box;
}

.item {
    border: 1px dashed black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  z-index: 100;
  touch-action: none;
  cursor: move;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* user-select: none; */
  /* overflow: hidden; */
}

.resizer {
    position: absolute;
    bottom: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    background-color: #0097df;
    cursor: nwse-resize;
    touch-action: none;
  }

.resizer2 {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    background-color: #0097df;
    cursor: nesw-resize;
    touch-action: none;
  }

.resizer3 {
    position: absolute;
    left: -4px;
    bottom: -4px;
    width: 10px;
    height: 10px;
    background-color: #0097df;
    cursor: nesw-resize;
    touch-action: none;
  }
.resizer4 {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: #0097df;
    cursor: nwse-resize;
    touch-action: none;
  }