.alignBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #121219;
    border-radius: 5px;
    height: 50px;
    padding-left: 24px;
    gap: 5px;
}


.colorLabel {
    width: 24px;
    height: 24px;
    border: 1px solid #121219;
    cursor: pointer;
}

.colorInputText {
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    width: 75px;
    border: none;
    outline: none;
}