.board {
    width: 192px;
    height: 108px;
    
    min-width: 192px;
    min-height: 108px;
    
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 24px;
    background-color: #FFFFFF;
}

.page{
    width: 40px;
    height: 40px;
    background-color: rgba(236, 86, 86, 0.342);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}
.trash{
    width: 40px;
    height: 40px;
    color: #7f1d1d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #dc2626;
}